<div class="flex flex-col justify-center">
  <h1 class="text-6xl">
    Share your expenses
    <br>
    <span class="text-indigo-400">without any hassle</span>
  </h1>

  <p class="mt-6 text-gray-500 max-w-lg">
    Use this application to split your bills or expenses with friends,
    housemates, or anyone when sharing expenses on trips, food, or rent
  </p>
</div>
