<div class="flex flex-col justify-center">
  <h1 class="text-6xl">
    Split your expenses
    <br>
    <span class="text-indigo-400">without any hassle</span>
  </h1>

  <p class="mt-6 text-gray-500 max-w-lg">
    Whether it’s with friends, housemates, or travel buddies — keep bills for food, rent, trips or anythign else <span class="font-bold text-indigo-500">fair</span> and <span class="font-bold text-indigo-500">simple</span>.
  </p>
</div>
