<div class="flex flex-col gap-6 p-6 max-w-2xl mx-auto">
  <%= mount_react_app("NewExpenseForm", props: {
    groups: @groups.to_api(without: :expenses).serializable_hash,
    initialGroupId: @initial_group_id,
  }) %>
</div>
